@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden bg-white dark:bg-neutral-800;
  }

  .editable-content .ProseMirror {
    @apply outline-0 max-w-full scrollbar-hide h-48 max-h-64 overflow-auto pb-3 focus:outline-none w-full border-0 text-xl bg-transparent text-neutral-950 p-2;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}